body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% de la hauteur de la vue */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: black;
}

header img {
    max-height: 45px;
}

h4 {
    margin: 0;
}

.first_text {
    color: white;
    z-index: 5;
    font-size: 60px;
    padding: 10px 20px;
    position: relative;
    transform: translateY(-10%);
    word-wrap: break-word;
    margin-left: 200px;
    margin-top: 300px;
}

.text_para_graph {
    color: white;
    z-index: 5;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    transform: translateY(-10%);
    margin-top: -60px;
    margin-left: 200px;

}

.first_bloc {
    background-image: url('Images/pourparlers-creation-dune-societe.png');
    padding: 0;
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;


}


.first_bloc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.view {
    background: #86bc42;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    z-index: 3; /* Assure que le bouton est au-dessus de l'effet overlay */
    transform: translateY(-10%);
    margin-left: 350px;
}

.green_sec_tion {
    background-color: #86bc42;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.quote_but_ton {
    background-color: white;
    display: flex;
    color: black;
    border: none;
    padding: 20px 50px;
    margin-top: 100px;
    margin-left: -250px;

}

.text_quote {
    color: white;
    text-align: center;
    margin-top: -60px; /* Ajustez la valeur selon votre préférence pour déplacer le texte vers le bas */
}

.about_comp_pa_pa_ny{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.about{
       text-align: center;
      margin-top: -60px;
}
.des_crip_tion{
    display: flex;
    margin-top: 50px;
    margin-left: -250px;
}


